name: CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - v*
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: "1.24"
          cache: false

      - name: Run tests
        run: make test

  integration:
    name: Integration Tests (Postgres ${{ matrix.postgres_version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        postgres_version:
          - "14"
          - "15"
          - "16"
          - "17"
          - "18"

    services:
      postgres:
        image: postgres:${{ matrix.postgres_version }}
        env:
          POSTGRES_DB: circle_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version: "1.24"
          cache: false

      - name: Run integration tests
        env:
          DATA_SOURCE_NAME: "postgresql://postgres:test@localhost:5432/circle_test?sslmode=disable"
        run: go test -v -tags integration ./...
